<!DOCTYPE html>
<html lang="es">
  <%-include ("../partials/head", {cssSheets: "editShow", title: "Editar Shows"}) %>
  <body>
    <%- include('../partials/header') %>
    <!--***************** Formulario de Edicion del producto ***************-->
    <form action="/shows/detail/edit/<%= shows.id %>?_method=PUT" method="POST" enctype="multipart/form-data" >
      <div class="row product-detail" style="background-color: #16324f ;">
        <div class="col-12 col-md-6">
          <label for="name" class="form-label">Nombre del shows:</label>
          <input value="<%= shows.name %>" type="text" id="name" name="name" placeholder="Ej: Juan Carlos" class="form-input">
        </div>
        <div class="col-12 col-md-6">
          <label for="price" class="form-label">Precio del shows:</label>
          <input value="<%= shows.price %>" type="text" id="price" name="price" placeholder="Ej: 5000" class="form-input">
        </div>
        <div class="col-12 col-md-6">
          <label for="hour" class="form-label">Hora del shows:</label>
          <input value="<%= shows.price %>" type="text" id="hour" name="hour" placeholder="Ej: 14:00" class="form-input">
        </div>
        <div class="col-12 col-md-6">
          <label for="day" class="form-label">Dia:</label>
          <input value="<%= shows.day %>" type="text" id="day" name="day" placeholder="Ej: 15" class="form-input">
        </div>
        <div class="col-12 col-md-6">
          <label for="month" class="form-label">Mes:</label>
          <select name="month" id="month" class="form-input">
            <option value="">Elegí</optnion>
            <option value="<%= shows.month %>">Enero</option>
            <option value="<%= shows.month %>">Febrero</option>
            <option value="<%= shows.month %>">Marzo</option>
            <option value="<%= shows.month %>">Abril</option>
            <option value="<%= shows.month %>">Mayo</option>
            <option value="<%= shows.month %>">Junio</option>
            <option value="<%= shows.month %>">Julio</option>
            <option value="<%= shows.month %>">Agosto</option>
            <option value="<%= shows.month %>">Septiembre</option>
            <option value="<%= shows.month %>">Octubre</option>
            <option value="<%= shows.month %>">Noviembre</option>
            <option value="<%= shows.month %>">Diciembre</option>
            
          </select>
        </div>
        <div class="col-12 col-md-6">
          <label for="category" class="form-label">Categoría:</label>
          <select name="category" id="category" class="form-input">
            <option value="<%= shows.category %>">Rock</option>
            <option value="<%= shows.category %>">Pop</option>
            </select>
        </div>
        <div class="col-12">
          <label for="description" class="form-label">Descripción Principal:</label>
          <textarea name="descriptionH2" id="description" class="form-input"><%= shows.descriptionHeader %></textarea>
        </div>
        <label for="price" class="form-label">Url de Artistas</label>
        <input value="<%= shows.video %>" type="text" id="video" name="video" placeholder="Ej: youtube.com/watch?" class="form-input">
          
          <div class="col-12">
          <label for="description" class="form-label">Descripción Video:</label>
          <textarea name="descriptionVideo" id="descriptionVideo" class="form-input"><%= shows.descriptionVideo %></textarea>
        </div>
        <div class="col-12 col-md-6">
          <label for="productImage" class="form-label">Imagen del Artista:</label>
          <input type="file" id="productImage" name="editedProductImage">
        </div>
        <div class="col-12">
          <button type="submit" class="buy-now-button">Guardar shows</button>
        </div>
      </div>
    </form>
    <%- include('../partials/footer') %>
    <!-- Agregando archivo nav.js para el menu -->
    <script src="js/nav/nav.js"></script>