<!DOCTYPE html>
<html lang="es">
  <%-include ("../partials/head", {cssSheets: "editShow", title: "Editar Shows"}) %>
  <body>
    <%- include('../partials/header') %>
    
    <form action="/shows/detail/edit/<%= shows.id %>?_method=PUT" method="POST" enctype="multipart/form-data" >
      <div class="row product-detail" style="background-color: #16324f ;">
        <div class="col-12 col-md-6">
          <label for="name" class="form-label">Nombre del shows:</label>
          <input value="<%= shows.name %>" type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input">
        </div>
        <div class="col-12 col-md-6">
          <label for="price" class="form-label">Precio del shows:</label>
          <input value="<%= shows.price %>" type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input">
        </div>
        <div class="col-12 col-md-6">Hora del shows:</label>
          <input value="<%= shows.price %>" type="text" id="hour" name="hour" placeholder="Ej: 5678" class="form-input">
        </div>
        <div class="col-12 col-md-6">
          <label for="date" class="form-label">Fecha:</label>
          <input value="<%= shows.date %>" type="text" id="date" name="date" placeholder="Ej: 15" class="form-input">
        </div>
        <div class="col-12 col-md-6">
          <label for="category" class="form-label">Categoría:</label>
          <select name="category" id="category" class="form-input">
            <option value="<%= shows.category %>">Rock</option>
            <option value="<%= shows.category %>">Pop</option>
            </select>
        </div>
        <div class="col-12">
          <label for="description" class="form-label">Descripción Principal:</label>
          <textarea name="descriptionH2" id="description" class="form-input"><%= shows.descriptionHeader %></textarea>
        </div>
        <label for="price" class="form-label">Url de Artistas</label>
        <input value="<%= shows.video %>" type="text" id="price" name="price" placeholder="Ej: youtube.com/watch?" class="form-input">
          
          <div class="col-12">
          <label for="description" class="form-label">Descripción Video:</label>
          <textarea name="descriptionVideo" id="description" class="form-input"><%= shows.descriptionVideo %></textarea>
        </div>
        <div class="col-12 col-md-6">
          <label for="productImage" class="form-label">Imagen del Artista:</label>
          <input type="file" id="productImage" name="editedProductImage">
        </div>
        <div class="col-12">
          <button type="submit" class="buy-now-button">Guardar shows</button>
        </div>
      </div>
    </form>
    <%- include('../partials/footer') %>
    <!-- Agregando archivo nav.js para el menu -->
    <script src="js/nav/nav.js"></script>