<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head' , {cssSheets: "productDetail", title: "Detalle Show"}) %>

  



  <body>
    <%- include('../partials/header') %>
    <main class="main-carritoDetalle">
      <section class="evento">
        <div class="evento-portada-container">
          <div class="evento-portada">
            <img
              src="/img/Img-Index-Artistas/<%= shows.image %>"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <article class="evento-info">
          <div class="evento-info-nombre">
            <h2>De adentro pa fuera Tour</h2>
            <h1 class="evento-titulo"><%= shows.name %></h1>
          </div>
          <div class="evento-info-detalle">
            <div class="evento-fecha-contenedor">
              <div class="evento-fecha-detalle">
                <i class="fa-regular fa-calendar"></i>
                <span class="evento-fecha-mes">DIC</span>
                <span class="evento-fecha-dia">5</span>
              </div>
            </div>
            <div class="evento-descripcion">
              <p class="evento-descripcion-detalle">
                <%= shows.descriptionHeader %> 
              </p>
              <div class="evento-descripcion-horario-contendedor">
                <i class="fa-regular fa-clock"></i>
                <span class="evento-hora"><%= shows.hour %>  hrs</span>
              </div>
              <div class="evento-descripcion-tipoPublico-container">
                <i class="fa-solid fa-people-group"></i>
                <span class="evento-tipoPublico">+18 años</span>
              </div>
            </div>
          </div>
          <div class="evento-lista-protocolos">
            <div class="protocolo-contenedor">
              <span class="protocolo-nombre">POLITICAS DE VENTA</span>
            </div>
            <div class="protocolo-contenedor">
              <span class="protocolo-nombre">TERMINOS Y CONDICIONES</span>
            </div>
            <div class="protocolo-contenedor">
              <span class="protocolo-nombre">METODOS DE PAGO</span>
            </div>
          </div>
        </article>
        <article class="evento-artista">
          <h2>Acerca del artista</h2>
          <p class="evento-artista-descripcion">
            <%= shows.descriptionVideo %> 
          </p>
          <div class="evento-artista-video">
            <iframe
              width="100%"
              height="415"
              src=<%= shows.video %> 
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </article>
        <article class="evento-compra-contenedor">
          <i class="fa-solid fa-location-arrow"></i>
          <div class="evento-compra-detalle">
            <form action="">
              <div class="form-item">
                <label for="evento-ubicacion">Ubicacion</label>
                <select name="evento-ubicacion" id="evento-ubicacion">
                  <option value="">Seleccione ubicacion</option>
                  <option value="dharena">DHArena</option>
                </select>
              </div>
              <div class="form-item">
                <label for="evento-precio">Precio</label>
                <span id="evento-precio">$ <%= shows.price %> </span>
              </div>
             <a href="#"><button class="evento-compra-submit" type="submit">
                Comprá tu entrada
              </button></a> 
             <a href="/shows/edit/<%= shows.id %>" class="evento-compra-submit">Editar Show</a> 
              <a href="#"><button class="evento-compra-submit" type="submit">
                Borrar Show
              </button></a>
            </form>
          </div>
        </article>
      </section>
    </main>
    <%- include('../partials/footer') %>
    <!-- Agregando archivo nav.js para el menu -->
    <script src="../js/nav/nav.js"></script>
  </body>
</html>
