<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head' , {cssSheets: "productCart", title: "Editar Shows"}) %>
  <body>
    <%-include ("../partials/header") %>
    <!--***************** carrito de compras ***************-->
    <main class="carrito-main">
      <h2>Carrito de compras</h2>
      <article class="carrito-de-compras">
        <% if (shoppingCartItems.length) { %>
          <% for( let index = 0; index < shoppingCartItems.length; index++ ) { %>
          
            <div class="carrito-item" data-showId="<%= shoppingCartItems[index].id %> ">
              <div class="item-img">
                <img src="/img/Img-Index-Artistas/<%= shoppingCartItems[index].image %> " alt="">
              </div>
              <div class="item-info">
                <h2 class="item-nombre"><%= shoppingCartItems[index].name %> </h2>
                <p class="item-date"><i class="fas fa-calendar-alt"></i> <%= shoppingCartItems[index].date %> </p>
                <p class="item-hour"><i class="far fa-clock"></i> <%= shoppingCartItems[index].hour %>  hs</p>
                <p class="item-price-container"><i class="fa-solid fa-money-bill"></i> $<span class="item-price"><%= shoppingCartItems[index].price %></span></p>
                <section class="left-productcart">
                  <div class="cant-borrar">
                    <div class="cantidad-entradas">
                      <label for="tickets">Tickets</label>
                      <select name="tickets" id="tickets">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                      </select>
                    </div>    
                  </div>
                  <p class="subtotal-container">Subtotal: $<span class="subtotal"></span></p>
                  <hr>
                  <section class="compras">
                    <div class="continua-comprando"><a href="/shows"><i class="fas fa-reply-all"></i>  Continua comprando</a></div>
                    <form action="/carrito/<%= shoppingCartItems[index].id %>?_method=DELETE" method="POST">
                      <button type="submit" class="boton-borrar"><i class="fas fa-times"></i> Borrar</button>
                    </form>
                  </section>
                </section>
              </div>
            </div> 
          <% } %>
          <article class="order-summary">
            <h2>Resumen de compra</h2>
            <div class="order-info">
              <p class="order-total">Precio total: $<span class="order-total-price"></span></p>
              <button class="order-buy" type="submit">Comprar ahora</button>
            </div>
          </article>
          <section class="payment-methods">
            <h3>Métodos de pago</h3>
            <div class="payment-icons">
              <i class="fa-brands fa-cc-visa"></i>
              <i class="fa-brands fa-cc-mastercard"></i>
              <i class="fa-brands fa-cc-paypal"></i>
              <i class="fa-brands fa-cc-amex"></i>
            </div>
          </section>
        <% } else { %>
          <h2>Su carrito de compras se encuentra vacío</h2>
        <% } %>
         
      </article>
            
    </main><%- include('../partials/footer') %>
    <!-- Agregando archivo nav.js para el menu -->
    <script src="../js/nav/nav.js"></script>
    <script src="../js/shoppingCart/shoppingCart.js"></script>
  </body>
</html>
