<!DOCTYPE html>
<html lang="es">
  <%-include ("../partials/head", {cssSheets: "home", title: "Home"}) %>
  <body>
    <%- include('../partials/header') %>
    <main>
    <!--************************* HERO ***********************-->
      <section class="hero">
        <div class="parrafo-img">
          <p class="Titulo-1">Experiencias Premium</p>
          <p class="SubTitulo-2">
            Vive momentos únicos con tus artistar favoritos
          </p>
          <a href="#">Registrate gratis</a>
        </div>
      </section>

      <% for( let i = 0; i < categories.length; i++ ) { %>
        <section class="Shows">
          <h2 class="titulo-shows">Shows de <%= categories[i].name %> </h2>

          <% for( let j = 0; j < shows.length; j++ ) { %>
            <% if (shows[j].categoryId === categories[i].id) { %>
              <article class="eventos-home">
                <figure class="Img-Artista"> <img
                  src="/img/Img-Index-Artistas/<%= shows[j].image %>"
                  alt="Foto-Artista"
                /></figure>
                <div class="descripcion">
                  <p class="nombre"><%= shows[j].name %></p>
                  <p class="fecha"><%= shows[j].date %></p>
                  <div class="botones-info">
                    <a href="/shows/<%= shows[j].id %>" class="Info">más info</p>
                    <a href="/shows/<%= shows[j].id %>" class="boton-entrada">Compra tu entrada</a>
                  </div>
                </div>
              </article>
            <% } %>
          <% } %>
        </section>
      <% } %>

      <!--************************* CLUB ARENA ***********************-->
      <section class="club-arena">
        <div class="control-clubarena">
          <div><i class="fa-solid fa-star"></i></div>
          <p Titulo>
            Únete al Club DHArena para obtener descuentos y regalos especiales
          </p>
          <a class="boton-clubarena" href="#">Unirme</a>
        </div>
      </section>
      <!--************************* Sponsors***********************-->
      <section class="Sponsors">
        <h2>Sponsors</h2>
        <!--************************* Footer ***********************-->
      <div class="main-iconos">
        <div class="iconos"><i class="fa-brands fa-facebook"></i></div>
        <div class="iconos"><i class="fa-brands fa-spotify"></i></div>
        <div class="iconos"><i class="fa-brands fa-youtube"></i></div>
        <div class="iconos"><i class="fa-brands fa-tiktok"></i></div>
        <div class="iconos"><i class="fa-brands fa-google"></i></div>
        <div class="iconos"><i class="fa-brands fa-angellist"></i></div>
      </div>
      </section>
    </main>
    <%- include('../partials/footer') %>
    <!-- Agregando archivo nav.js para el menu -->
    <script src="js/nav/nav.js"></script>
  </body>
</html>
